/**-------------------Component Main------------------**/

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeftForSideNav {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  // 80% {
  //   transform: translateX(0);
  // }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-right {
  animation: moveInRight 1s ease-out;
}

.animation-left {
  animation: moveInLeft 1s ease-out;
}

.animation-left__side--nav {
  animation: moveInLeftForSideNav 1s ease-out;
}
/************************/
a {
  position: relative;
  color: #34ffea;
  overflow: hidden;
  font-size: 16;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 20px 50px rgb(255 255 255 / 5%);
}

a span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #002b9d, #34ffea);
  animation: animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
a span:nth-child(2) {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #002b9d, #34ffea);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
a span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to left, #002b9d, #34ffea);
  animation: animate3 2s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
a span:nth-child(4) {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #002b9d, #34ffea);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
