/**-------------------Component Main------------------**/

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeftForSideNav {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottomForNaBar {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-right {
  animation: moveInRight 1s ease-out;
}

.animation-left {
  animation: moveInLeft 1s ease-out;
}

.animation-left__side--nav {
  animation: moveInLeftForSideNav 1s ease-out;
}

.animation-bottom__navbar {
  animation: moveInBottomForNaBar 1s ease-out;
}

/************************/

.active {
  color: aqua;
}

/***********CSSTransition*****/
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms;
}
